# Python
__pycache__/
*.py[cod]
*.egg-info/

# 虚拟环境
venv/
.venv/
env/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# 模型 & 数据
models/
*.wav
*.mp3
*.pcm

# 临时 & 输出
temp/
output/
*.log

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# OS
.DS_Store
Thumbs.db
